.flower-container {
  display: flex;
  flex-wrap: wrap;
}

.flower-container__item {
  width: 30%;
  padding: 0 15px;
}

.new-bouquet {
  margin: 25px 0;
  display: none;
}

.bouquet-options {
  display: flex;
}

.bouquet-options p {
  margin: 0 10px;
}