main,
header {
  padding: 15px;
}

button {
  cursor: pointer;
}

.flower-container {
  display: flex;
  flex-wrap: wrap;
}

.flower-container__item {
  width: 25%;
}

.new-bouquet {
  margin: 25px 0;
  display: none;
}

.bouquet-options {
  display: flex;
}

.bouquet-options p {
  margin: 0 10px;
}

.bouquet-items {
  display: none;
  padding: 15px;
  width: 370px;
  background: rgb(229, 228, 247);
}

.bouquet-items.active {
  display: block;
}

.toggle-bouquet-items {
  font-size: 16px;
  width: 400px;
  padding: 8px;
  color: blue;
  border-radius: 10px;
  background-color: lavender;
  border: none;
}

.toggle-bouquet-items.active {
  border-radius: 10px 10px 0 0;
}

.bouquet-items {
  border-radius: 0 0 10px 10px;
}

.toggle-bouquet-items::after{
  content:" +";
  font-size: 20px;
}

.toggle-bouquet-items.active::after{
  content:" -";
  font-size: 20px;
}

.toggle-bouquet-items::before{
  content:"View ";
}

.toggle-bouquet-items.active::before{
  content:"Hide ";
}

.bouquet-list {
  display: none;
}

.bouquet-items__one {
  display: flex;
  margin-bottom: 5px;
}

.bouquet-items__one img {
  width: 25px;
  height: auto;
}

.bouquet-items__one button {
  border: 2px solid rgb(96, 96, 213);
  border-radius: 10px;
  background: white;
  padding: 3px;
}

.bouquet-items__one p {
  margin: 5px;
}

.color-filter {
  display: flex;
  flex-wrap: wrap;
}

.color-filter > div {
  width: 20%;
}

.swatch {
  height: 15px;
  width: 15px;
  border-radius: 25px;
}

.filters-applied {
  display: flex;
}

.filters-applied p {
  margin-right: 10px;
}

.delete-bouquet {
  margin-bottom: 15px;
}